<div class="bg-gray-100 flex items-center py-10">
  <div class="flex flex-row justify-between gap-x-16 w-full my-3">

    <div class="w-full flex justify-end" data-aos="zoom-out-right" data-aos-duration="1000">
      <img src="Pro.jpeg" alt="Image" class="w-full rounded-lg shadow-2xl">
    </div>

    <div class="w-full mt-20">
      <p class="text-black text-5xl font-serif" data-aos="fade-right" data-aos-duration="1100" data-aos-easing="ease-out-cubic">About :</p> &nbsp;
      <p class="text-gray-600 text-2xl leading-[2.5] indent-20 font-serif first-letter:text-bold first-letter:text-4xl" data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="1300">
               Demonstrating a strong command over responsive front-end development & back-end development with Angular and PHP. 
        Skilled in building applications from inception to deployment, indicating a comprehensive understanding of the 
        entire development lifecycle. Capable of independently developing full-scale applications, showcasing proficiency 
        in architecture design, implementation, and testing. Demonstrated ability to handle end-to-end development tasks, 
        from requirement analysis to deploying applications on web servers. Experienced in managing individual projects, 
        highlighting proficiency in project management, task prioritization, and meeting deadlines. Contributed to multiple 
        projects, focusing on maintenance tasks, updates, and enhancements. Possesses a track record of successfully 
        maintaining and improving applications to meet evolving business needs and technological advancements. 
        Self-reliant and proactive, known for the ability to take ownership of projects and deliver high-quality solutions. 
        Strong problem-solving skills, adapting to challenges and troubleshooting issues efficiently. Collaborative team 
        player, capable of working independently or as part of a multidisciplinary team. Continuously enhancing skills and 
        staying updated with the latest trends and technologies in Angular development. Actively involved in the local tech 
        community, participating in workshops, conferences, or open-source projects to broaden knowledge and skills.
      </p>
    </div>
  </div>
</div>


<!-- <div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="max-w-sm bg-white rounded-lg shadow-md p-6 text-center">
    <img src="ashii.jpg" alt="Card Image" class="w-full rounded-lg mb-4">
    <h2 class="text-2xl font-semibold text-gray-800 mb-2">Card Title</h2>
    <p class="text-gray-600 text-base">This is a simple card component. You can add more information or description
      here.</p>
  </div>
</div> -->

