<div class="slider bg-gray-100">
        <div class="list flex flex-row my-16" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-out">
               <p class="flex items-center justify-center tracking-widest font-bold font-sans text-2xl text-gray-400">Skills</p>
                <div class="item bg-white rounded-md shadow-md flex justify-center items-center h-24">
                        <img src="html.webp" class=" w-80 h-20 object-contain" alt="Languages Image">
                </div>
                <div class="item bg-white rounded-md shadow-md flex justify-center items-center h-24">
                        <img src="css.webp" class=" w-80 h-24 object-contain" alt="Languages Image">
                </div>
                <div class="item bg-white rounded-md shadow-md flex justify-center items-center h-24">
                        <img src="ts.webp" class=" w-80 h-20 object-contain" alt="Languages Image">
                </div>
                <div class="item bg-white rounded-md shadow-md flex justify-center items-center h-24">
                        <img src="tcss.webp" class=" w-96 h-28 object-contain" alt="Languages Image">
                </div>
                <div class="item px-3 bg-white rounded-md shadow-md flex justify-center items-center h-24">
                        <img src="ng.webp" class=" w-80 h-20 object-contain" alt="Languages Image">
                </div>
                <div class="item px-3 bg-white rounded-md shadow-md flex justify-center items-center h-24">
                        <img src="node.webp" class=" w-80 h-20 object-contain" alt="Languages Image">
                </div>
                <div class="item px-3 bg-white rounded-md shadow-md flex justify-center items-center h-24">
                        <img src="php.webp" class=" w-80 h-16 object-contain" alt="Languages Image">
                </div>
                <div class="item px-2 bg-white rounded-md shadow-md flex justify-center items-center h-24">
                        <img src="postg.webp" class=" w-96 h-20 object-contain" alt="Languages Image">
                </div>
                <div class="item px-3 bg-white rounded-md shadow-md flex justify-center items-center h-24">
                        <img src="apacheee.webp" class=" w-96 h-28 object-contain" alt="Languages Image">
                </div>
                <div class="item px-3 bg-white rounded-md shadow-md flex justify-center items-center h-24">
                        <img src="li.webp" class=" w-96 h-32 object-contain" alt="Languages Image">
                </div>
                <div class="item px-3 bg-white rounded-md shadow-md flex justify-center items-center h-24">
                        <img src="git.webp" class=" w-80 h-12 object-contain" alt="Languages Image">
                </div>
                <div class="item bg-white rounded-md shadow-md flex justify-center items-center h-24">
                        <img src="adob.webp" class=" w-96 h-20 object-contain" alt="Languages Image">
                </div>
                <div class="item px-3 bg-white rounded-md shadow-md flex justify-center items-center h-24">
                        <img src="fig.webp" class=" w-80 h-20 object-contain" alt="Languages Image">
                </div>
                <div class="item bg-white rounded-md shadow-md flex justify-center items-center h-24">
                        <img src="ps.webp" class=" w-80 h-24 object-contain" alt="Languages Image">
                </div>
        </div>

        <div class="flex flex-row justify-between gap-x-16 px-5 py-10 h-full">
                <div class="w-full h-4/5 mt-40">
                        <p class="text-black text-5xl font-serif" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="1100"> Experienced : </p> &nbsp;
                        <p class="text-gray-600 text-2xl leading-[2.5] indent-28 font-serif first-letter:text-bold first-letter:text-4xl" data-aos="fade-up" data-aos-duration="1300">
                                As a Full Stack Web Developer worked 10 months of experience with a solid understanding
                                of the development
                                workflow.
                                Proficient in HTML, CSS, SCSS, Tailwind CSS, and the Angular framework for front-end
                                development.
                                Skilled in PHP, MySQL, and PostgreSQL for back-end development.
                                Adept at analyzing code concepts, troubleshooting, and implementing solutions
                                efficiently.
                                Experienced in Node.js, TypeScript, JavaScript, and version control systems like GitLab.
                                Knowledgeable in web hosting using Apache HTTP Server and deploying applications on
                                servers.
                                Demonstrates the ability to quickly learn and implement new technologies independently.
                                Experienced in developing complete web applications, from the ground up to deployment on
                                a server.
                                Goal-oriented with a proven ability to set and achieve objectives consistently.
                                Have experience with Adobe Photoshop and related design fields, underpinned by a strong
                                foundation in graphic design principles and creative problem-solving.
                        </p>
                </div>

                <div class="w-full h-4/5 flex justify-start" data-aos="zoom-out-left" data-aos-duration="1000">
                        <img src="paper.jpeg" alt="Image" class="h-3/4 w-full rounded-lg drop-shadow-2xl">
                </div>
        </div>
</div>

