<head>
    <!-- <style>
        @keyframes rainbow {
          10% { color: #ff0000; }
          16.6% { color: #ff7f00; }
          33.3% { color: #ffff00; }
          50% { color: #00ff00; }
          66.6% { color: #2525d1; }
          83.3% { color: #53e8f3; }
          90% { color: #7b29ff; }
        }
        .animate-rainbow {
          animation: rainbow 10s linear infinite;
        }
      </style> -->

</head>

<div class="bg-gray-100">
    <div class="flex flex-row justify-center gap-x-20 pb-5">
        <!-- <div class=" flex relative inset-0 space-x-10"> -->
        <img src="ashii.jpg" width="25%" height="50%" alt="IMAGE"
            class="flex rounded-2xl relative inset-0 my-10 animate-cando drop-shadow-2xl">
        <div class="flex flex-col mt-48">
            <div class="flex flex-col items-center gap-3">
                <p class="ml-3 text-xl" data-aos="fade-right" data-aos-duration="1500"> Hello! <span
                        class="text-red-700 text-2xl font-bold">I'm Ashik</span></p>
                <p class="text-5xl font-semibold" data-aos="fade-left" data-aos-duration="1600">Full Stack Developer</p>
                <p data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="1600" data-aos-offset="0">Loves
                    learning and transforming needs into inclusive experiences
                    while making sure no one is left behind.</p>
            </div>

        </div>
    </div>
</div>

<!-- <app-second></app-second>
<app-pic-slider></app-pic-slider>
<app-contact></app-contact> -->